
{% extends 'base.html.twig' %}


{% block contenu %}

<div class="example-wrapper">
   <center> 
    <h2>Qui êtes-vous ?</h2>
      <br>
   <div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
			 
			<button type="button" class="btn btn-primary">
				 Assoiffé (client)
			</button>
		</div>
		<div class="col-md-3">
			 
			<button type="button" class="btn btn-primary">
				<a href="{{path('assoiffeur_accueil')}}"  style="color:white">Assoiffeur (établissement)</a>
			</button>
		</div>
		<div class="col-md-3">
		</div>
    </div>
  <br><br>
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-secondary">
				S'inscrire
			</button>
		</div>
    </div>
</center>
</div>
</div>
{% endblock %}
