
.icon-user:before { content: '\e800'; } /* '' */
.icon-beer:before { content: '\e801'; } /* '' */
.icon-bell:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */