<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf8" />
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
        }
        body {
            margin: 0;
            position: relative;
        }
        #maps {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
    <script>
        var objLocation, objMaps, objCurrentLocationMarker, objInfoWindow, objService;
        
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                objLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                objMaps = new google.maps.Map(document.querySelector("#maps"), {
                    zoom: 16, 
                    center: objLocation, 
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    overviewMapControl: false,
                    zoomControl: true,
                    navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL },
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                
                objCurrentLocationMarker = new google.maps.Marker({
                    position: objLocation,
                    map: objMaps,
                    title: "Vous êtes ici !" 
                });
                google.maps.event.addListener(objCurrentLocationMarker, 'click', function() {
                    objInfoWindow.setContent("Vous êtes ici !");
                    objInfoWindow.open(objMaps, this);
                });
                
                
                objInfoWindow = new google.maps.InfoWindow()
                
                
            }, function(msg) {
                alert("Erreur : " + msg);
            });
           
        }
    </script>
</head>
<body>
    <center>
        <div> <h2>Veuillez choisir un établissement</h2></div>
        
        <div id="maps"></div>
    </center>
</body>
</html>