{% extends 'assoiffe/baseassoiffe.html.twig' %}

{% block titrePage %}
Panier
{% endblock %}

{% block contenu %}


<a class="btn btn-success"  href="/assoiffe/panier/payer" role="button">Payer</a>

{% endblock %}
