{{ form_start(form) }}<br>

               <strong> <label>&nbsp;Nom</label><br></strong>
                {{form_widget(form.nom)}}<br><br>

    <button class="btn btn-secondary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
