{% extends 'base.html.twig' %}

{% block titrePage %}Editer un type de produit{% endblock %}

{% block contenu %}

    {{ include('type_produit/_form.html.twig', {'button_label': 'Enregistrer'}) }}
<br>

    {{ include('type_produit/_delete_form.html.twig') }}
<br>
        <a href="{{ path('accueil_assoiffeur') }}">Revenir à la liste des produits</a>

{% endblock %}
