{% extends 'assoiffeur/baseassoiffeur.html.twig' %}

{% block title %}Editer un type de produit{% endblock %}

{% block contenu %}
    <h1>Editer un type de produit</h1>

    {{ include('type_produit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_produit_index') }}">Revenir à la liste des produits</a>

    {{ include('type_produit/_delete_form.html.twig') }}
{% endblock %}
