{% extends 'assoiffeur/baseassoiffeur.html.twig' %}


{% block contenu %}
    <h1>TypeProduit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_produit in type_produits %}
            <tr>
                <td>{{ type_produit.nom }}</td>
                <td>
                    <a href="{{ path('type_produit_show', {'id': type_produit.id}) }}">Consulter</a>
                    <a href="{{ path('type_produit_edit', {'id': type_produit.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_produit_new') }}">Créer un nouveau type de produit</a>
{% endblock %}
