{% extends 'assoiffeur/baseassoiffeur.html.twig' %}

{% block titrePage %}Nouveau type de produit{% endblock %}

{% block contenu %}
    <h1>Créer un nouveau type de produit</h1>

    {{ include('type_produit/_form.html.twig') }}

    <a href="{{ path('type_produit_index') }}">Revenir à la liste des types de produits</a>
{% endblock %}
