{% extends 'base.html.twig' %}
       
        {% block menu %}
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">

                  <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="/entreprises">Mes produits </a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="/formation">Mes promotions</a>
                  </li>


                  
                </ul>

                <ul class="navbar-nav ml-md-auto">


                  {% if is_granted('ROLE_USER') %}
                  <li class="nav-item active">
                    <a class="nav-link" href="#">
                      {{ app.user.prenom }} {{ app.user.nom }}
                      <i class="icon-user"></i>
                      Déconnexion
                      <span class="sr-only">(current)</span></a>
                  </li>
                  {% else %}
                  <li class="nav-item active">
                    <a class="nav-link" href="#">
                      Inscription
                      <span class="sr-only">(current)</span></a>
                  </li>


                  <li class="nav-item active">
                    <a class="nav-link" href="#">
                      <i class="icon-user"></i>
                      Connexion
                      <span class="sr-only">(current)</span></a>
                  </li>

                  {% endif %}
                </ul>

              </div>
            </nav>
          </div>
        </div>
      </div>

    </div>
    {% endblock %}
   

    {% block contenu %}
    {% endblock %}



    {% block footer %}
   
    {% endblock %}


    {% block javascripts %}
    {% endblock %}
